@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  @apply text-3xl font-bold tracking-wider leading-6 my-6;
}

ul {
  @apply list-none m-0 p-0;
}

.answer-item {
  @apply border border-solid border-white rounded py-1 px-2 mb-1 cursor-pointer transition-colors duration-300 ease-in-out hover:bg-indigo-300;
}
/* 
 hover:bg-indigo-300*/

/* .answer-item:hover{
  @apply bg-indigo-300;
} */

.answer-item.success {
  @apply bg-green-500;
  /* background-color: #48bb78; */
}
.answer-item.error {
  @apply bg-pink-500;
}
